<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ilstugram Project</title>
		<script src="js/functions.js"></script>
		<script src="js/scripts.js" defer></script>
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="webfonts/all.min.css">
	</head>
	<body>

	<div id="mainhero">
		<div class="herooverlay"></div>
		<div class="herologo">
			<img src="images/ilstugramlight.png" alt="logo">
		</div>
		<div id="heroformwrapper">
			<div class="heroforminner">
				<div class="formdivwrapper">
					<div class="heroformdiv">
						<form id="login">
							<h2>Login</h2>
							<input type="text" name="username" placeholder="username" required>
							<input type="password" name="password" placeholder="password" required>
							<button type="submit">Submit</button>
						</form>
						<div id="displayregisterform" class="buttondiv">
							<i class="fas fa-user-plus i-right"></i><span>New? Register.</span>
						</div>
					</div>
					<div class="heroformdiv">
						<form id="register">
							<h2>Register</h2>
							<input type="text" name="firstname" placeholder="first name" required>
							<input type="text" name="lastname" placeholder="last name" required>
							<input type="text" name="username" placeholder="username" required>
							<input type="password" name="password" placeholder="password" required>
							<input type="email" name="email" placeholder="email" required>
							<button type="submit">Submit</button>
						</form>
						<div id="displayloginform" class="buttondiv">
							<i class="fas fa-arrow-left i-right"></i>
							<span>Go back.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>